/*
=============== 
Navbar
===============
*/
.header {
  position: relative;
}
.navCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1rem;
}
.menuBar {
  font-size: 3rem;
  cursor: pointer;
  transition: 0.3s linear;
}
.menuBar:hover {
  transform: scale(1.5);
}

.nav {
  min-width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 400px;
  background: var(--primary-700);

  position: absolute;
  right: 0px;
  top: 0px;
  padding-left: 2.5rem;
  border-bottom-left-radius: 1rem;
  animation: navbar 0.5s linear 0s forwards;
}
.hideLinks {
  display: none;
}

.dropdownMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: -1rem;
  padding-right: 0.25rem;
}

.dropdownMenu .menuBar {
  font-weight: 700;
  line-height: 1.3;
}
.dropdownMenu h2 {
  margin-bottom: 0px;
}
.menuList {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
}
.menuList li {
  font-size: 2rem;
  cursor: pointer;
  transition: 0.3s linear;
}
.menuList li:hover{
    transform: scaleX(1.25);
}
.header button{
   display: none;
    

}
.ContactMe:hover{
    background-color: var(--textColor);
    color:black
}
@keyframes navbar {
  0% {
    opacity: 0;
    transform: translateX(500px);
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@media screen and (min-width: 800px) {
  .dropdownMenu {
    display: none;
  }
  .nav {
    position: static;
    background: var(--primary-600);
    height: 0px;
    min-width: 0;
  }
  .menuBar {
    display: none;
  }
  .menuList {
    flex-direction: row;
    gap: 2em;
  }
  .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 3em;
  }
  .hideLinks {
    display: block;
  }
  .menuList li:hover{
    transform: none;
    color: var(--purple-500);
}
}

@media screen and (min-width: 1100px) {
  
  .menuList li {
    margin-right: 2em;
  }
  .header .ContactMe{
    display: block;
    
  }
}



/*
=============== 
Hero
===============
*/

.heroSection{
  padding:0em 2em;
}

.heroWords h3{
  font-weight: 600;
}
.heroWords h1{
  font-size: 4.3rem;
}
.heroWords p{
  font-size: 1.45rem;
}
.heroPictureSection{
  position: relative;
}



.portfolioImage{
height: auto;
max-width: 100%;
}